.gpt__cat
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}


.gpt__cat-content p 
{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
}


.gpt__cat-content h3 
{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
}

.gpt__cat-btn 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.gpt__cat-btn button 
{
    background: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    outline:none;
    border-radius: 40px;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    min-width: 150px;
}


@media screen and (max-width:650px) {
    .gpt__cat 
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .gpt__cat-btn
    {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width:550px) {
    .gpt__cat 
    {
      margin: 4rem 2rem;
    }
    
    .gpt__cat-content h3
    {
        font-size: 18px;
        line-height: 32px;
    }

    .gpt__cat-btn button 
    {
        font-size: 14px;
        line-height: 28px;
    }
}

